@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
body {
  margin: 0;
  background-color: #FAF0F0;
}

/* CONTAINER GLOBAL (usar em header e páginas) */
.container {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  padding: 20px;
}

/* textos */
h1 {
  text-align: center;
  font-family: 'Libre Bodoni';
  font-style: italic;
  background-image: linear-gradient(to right, #4b1248, #7B2E6F, #4b1248);
  color: transparent;
  background-clip: text;
}

p {
  text-align: center;
  font-family: 'Libre Bodoni';
  font-style: italic;
  color: rgb(151,58,146);
}

/* imagem centralizada */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}